# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
env/
ENV/

# Databases (recreated on launch)
data/*.db

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
